<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/globals.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Stock Manager</title>
  </head>
  <body>
    <header>
      <h1>Stock Manager</h1>
      <div class="user-buttons">
        <img
          src="../public/images/user.png"
          alt="ìcone de Usuário"
          class="user-icon"
        />
        <p>Usuário</p>
      </div>
    </header>

    <a
      href="https://www.flaticon.com/br/icones-gratis/google"
      title="google ícones"
      >Ícones do Google e Usuário criados por Freepik - Flaticon</a
    >
  </body>
</html>
