<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/globals.css">
  <link rel="stylesheet" href="css/login.css">
  <title>Stock Manager</title>
</head>

<body>
  <main>
    <div id="login">
      <h1>Entrar</h1>
      <form action="/login" method="post">     
        <div class="login-fields">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password">
        </div>
        <button type="submit">Entrar</button>
      </form>
      <p>ou:</p>
      <button class="google-button">Login com o Google</button>
    </div>
    <div class="separator"></div>
    <div id="register">
      <h1>Cadastrar-se</h1>
      <div class="register-fields">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password">
        <label for="password-confirm">Confirmar Senha</label>
        <input type="password" name="password-confirm" id="password-confirm">
      </div>
      <button type="submit">Cadastrar-se</button>
    </div>
  </main>
</body>
</html>